* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}


:root { 
  --bg: #16212f; 
  --card: black; 
  --text: antiquewhite;
  --muted: #5e84b0; 
  --primary: #16212f; 
  --danger: #dc2626; 
  --ok: #16a34a; 
  --space: 16px; 
  --radius: 12px; 

  --font-main: 'Inter', system-ui, -apple-system, sans-serif;
  
}

body {
    padding: 1rem;
   font-family: var(--font-main);
   background-color: var(--bg);
   color: var(--text);
   margin: 0;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--muted);
    color: var(--text);
    height: 5rem;
    border-radius: 1rem;
}

@media (max-width: 424px) {
  .card {
    background-color: var(--card);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    border-radius: 0.6rem;
    gap: 1rem;
}  
}

@media (min-width: 425px) and (max-width:768px) {
  .card {
    background-color: var(--card);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 1.5rem;
    gap: 1rem;
}  
}

@media (min-width: 769px) and (max-width:1024px) {
  .card {
    background-color: var(--card);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 2rem;
    gap: 1rem;
}  
}

@media (min-width: 1025px) and (max-width:1440px) {
  .card {
    background-color: var(--card);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.6rem;
    border-radius: 2.6rem;
    gap: 1rem;
}  
}
@media (min-width: 1025px) and (min-width:1440px) {
  .card {
    background-color: var(--card);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    border-radius: 3rem;
    gap: 1rem;
}  
}

.clicks{
    display: flex;
    flex-direction: column;
    align-items:column;
    gap: 70px;
    justify-content:space-between;
    padding: 2rem;
}

.list {
    color: var(--text);
}

label {
    font-weight: bolder;
}

input {
  padding: 10px 12px;
  border-radius: 12px;
  border: 1px solid var(--text);
  background: var(--bg);
  color: var(--text);
  outline: none;
}

.btn{
    background-color: var(--muted);
    color: var(--text);
    padding: 1rem;
    border-radius: 10rem;
    font-weight: bolder;
}

.success {
    color: var(--ok);
    font-size: 2rem;
}

.error {
    color: var(--danger);
    font-size: 2rem;
}

.msg{
    color: var(--text);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--muted);
    padding: 2rem;
    border-radius: 1rem;
    bottom: 0;
    width: 100%;

}